.content {
    margin-top: 350px;
    text-align: center;
}
.my-card {
    text-align: center;
    margin: 0px auto;	
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px 6px rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 60px;
    padding-bottom: 2px;
    margin-top: 550px;
}
.my-card2 {
    text-align: center;
    margin: 0px auto;	
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px 6px rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 60px;
    padding-bottom: 2px;
    margin-top: 50px;
}
#lorem-id {
    padding: 5%;
    text-indent: 5%;
    text-align: justify;
    font-size: 18px;
}