services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: construction-ci-docker-boilerplate-web
    env_file:
      - .env # Use the .env file for all database and application variables
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    networks:
      - ci-docker-boilerplate-network

  db_init:
    build:
      context: .
      dockerfile: Dockerfile.db
    container_name: construction-ci-docker-boilerplate-db_init
    profiles:
      - seed # This service will not run by default.
    env_file:
      - .env # Use the .env file for all database variables
    networks:
      - ci-docker-boilerplate-network

networks:
  ci-docker-boilerplate-network:
    driver: bridge